name: ems_mobile
description: A new Flutter project.

publish_to: 'none' 
version: 1.0.0+1

environment:
  sdk: '>=2.19.4 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2
  get: ^4.6.5
  intl: ^0.18.0
  accordion: ^2.5.1
  dio: ^5.1.1
  animated_splash_screen: ^1.3.0
  flutter_secure_storage: ^8.0.0
  http: ^0.13.5
  awesome_snackbar_content: ^0.1.1
  flutter_staggered_grid_view: ^0.6.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
